
*{
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: var(--text-color);
    font-size: 15px;
   
  }
  svg {
    width: 5%;
    height: 100px;
    fill: #ff6347; /* Thay đổi màu sắc */
  }
  
body{
  background-color: #fff;
}
  
  :root {
    --text-color: #655f5f;
    --text-color2: #595353 ;
  }
  
  /* -------------------nav------------------ */
  nav {
  
    padding: 1vh 0.3vw;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    left: 50%;
    object-fit: contain;
    align-items: flex-end;
    transform: translate(-50%);
    border-radius: 16px;
    background: #fefefe;
    border: 1px solid rgba(0, 0, 0, .1);
    
  }



  nav .icon i {
    color:rgb(133, 133, 133);
    font-size: 17px;
    animation: smoothIn 0.3s ease-in-out;
  }
  
  @keyframes smoothIn {
    0% {
      opacity: 0;
      transform: translate(-50%) translateY(50px);
  }
  60% {
    opacity: 0.6;
    transform: translate(-50%) translateY(-5px);
}
100% {
  opacity: 1;
  transform: translate(-50%) translateY(0);
}
  }

  nav .icon:hover i {
    font-size: 30px;
  }


  nav .icon {
    display: grid;
    place-items: center;
    background-color: #e8e8e8;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
    width: 33px;
    height:33px;
    
  }


    nav .line {
    width: 2px;
    height: 50px;
    margin-left: 10px;
    background-color: #cabfbf;
  }
  @media screen and (max-width: 500px) {
      
  }
  .instagram{
    display: none;
  }
  /* ------------------end nav------------ */
  /* -------------------------------------- */
  hr {
    height: 1px; /* Độ dày của đường kẻ */
    border: none; /* Bỏ border mặc định */
    background-color: rgba(0, 0, 0, 0.2); /* Màu sắc và độ mờ của đường kẻ */
    margin: 20px 0; /* Khoảng cách trên và dưới */
    opacity: 0.5; /* Độ mờ tổng thể */
  }
  .introduce a {
    color: black;
  }
  #Name {
    margin: 100px 0px 17px 0px;
    color: black;
    font-size: 37px;
    font-family: Playfair Display, serif;
  }
  body {
    width: 45%;
    margin: auto;
  }
  .content {
    line-height: 1.8;
  }
  
  .meme img{
    width: 90%;
    height: auto;
    margin: auto;
  }
  .content i {
    margin-left: 5px;
    margin-right: 5px;
  }
  i {
    font-size: 20px;
    color:   var(--text-color);
  }
  a {
    text-decoration: none;
    color:  var(--text-color);
  }
   .boxresume {
    border: black solid 1px;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.7s ease;
    cursor: pointer;
  
  } 
  
  .boxresume:hover {
    background-color: rgb(83, 184, 227);
    color: white;
   
    
  }
  .vertical-line {
    width: 2px; /* Độ rộng của đường kẻ */
    height: 40px; /* Chiều cao của đường kẻ */
    background-color: rgb(233, 227, 227); /* Màu của đường kẻ */
    margin: 0 10px; /* Khoảng cách hai bên */
  }
  .information i {
    font-size: 24px;
    margin-left: 25px;
    transition: all 0.3s ease;

  }
  
  .information i:hover {
    font-size: 35px;
  }
.fa-tiktok:hover{
  color: black;
}
  .fa-facebook-square:hover{
    color: #0064d1;
  }
.fa-instagram:hover{
  background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

  .information {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  footer {
    margin:50px 0px 50px 0px;
  }
  #home {
    display: block;
  }
  /* -------------home-------------------------- */
  /* --------------about------------------------- */
  
  .information1 {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  .information1 i{
  margin-right: 40px;
  font-size: 25px;
  }
  
  #about h1{
     font-size: 35px;
     color: black;
  }
  .information1 .vertical-line {
    margin:  0px 30px;
  }
  
  .avatar img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    
  }
  .avatar {
   text-align: center;
  }
  .information1 {
    justify-content: center;
    margin-top: 20px;
  }
  .information1 i:hover {
    color: black;
  }
  .handwritten {
    line-height: 1.7;
    color: #b9b3b3;
  }
  .note {
   
    width: 80%;
    margin:30px auto;
    display: flex;
  }
  .note .vertical_line {
    width: 3px;
    height: 50px;
   background-color: #999292;
   margin-right: 30px;
  }
  
  #about footer {
    margin: 40px 0px 30px 0px;
  }
  #about {
    display: none;
  }
  /* ?----------------about---------- */
  /* -----------------project--------- */
  
  #project {
    display: none;
  }
  /* -----------------end project--------- */
  
  /* ----------------library------------- */
  #library {
  background-color: white;
  display: none;
  }
  
  
  #search {
    padding: 14px ;
    width: 90%;
    margin: 20px 0px;
    border-radius: 7px;
    border: none;
    background-color: #f2eeee;
    font-size: 17px;
  }
  .pics {
    display: grid;
    grid-template-columns: repeat(3,225px);
    gap: 2px;
  }
  
  #library .Celebrate{
  padding: 2px ;
  width: 100% ;
  background-color:#fbf9f9;
  transition: all 0.3s ease;
  border-radius: 20px;
  cursor: pointer;
  }
  #library .Celebrate:hover {
    background-color: #f3eeee;
  }
  .pic {
    display: none;
  }
  .pic img {
    width: 100%;
    height: 220px;
    border-radius: 10px;
    display: block;
  }
  .pic img:hover{
    opacity: 0.8;
    transition: opacity 0.3s ease, transform 0.5s ease;
    transform: scale(1.1); 
  }
  .thunho {
    text-align: center;
   padding: 10px 10px;
   display: none;
  }
  
  /* ------------phóng to ảnh ------------------ */
  
  
  
  /* ------------phóng to ảnh ------------------ */
  /* ----------------end library------------- */
  /* -----------------photo------------------  */
  .pictures {
    display: grid;
    grid-template-columns: repeat(3,230px);
    gap: 2px;
  }
  .pictures img:hover{
    opacity: 0.8;
    transition: opacity 0.3s ease, transform 0.5s ease;
    transform: scale(1.1); 
  }
  .picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .picture {
    width: 220px;
    height: 220px;
    
  }
  
  #photo {
    display: none;
  }
  
  .day{
    position: fixed;
    top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .kb--light:not(:hover) {
    border: 1px solid rgba(0, 0, 0, .15);
    color: #858585;
}


.keyboard {
  font-style: italic;
    cursor: pointer;
    padding: 3px 5px;
    border-radius: 3px;
    margin-right: 6px;
    font-size: large;
}
/* song */
li {
  list-style-type: none;
}
.song {
 display: flex;
 margin: 30px 0px;
 border: solid 1px rgb(232, 225, 225);
 padding: 10px;
 border-radius: 20px;
 width: 90%
}

.song.playing .fa-play-circle{
  display: none;
}
.song.playing .fa-pause-circle{
  display: block;
}
.song .fa-pause-circle {
  display: none;
}
.btnprocess {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 20px;
  margin-left: 27px;
  align-items: center;
}
.contentsong {
  line-height: 1.5;
}
.contentsong h1 {
  font-size: 20px;
  color: black;
}

.contentsong {
  margin-left: 20px;
}
.song.randoming .fa-random{
  color: #ff4757;
}
.song.replaying .fa-redo-alt{
  color:#ff4757 ;
}
.btnprocess i {
  cursor: pointer ;

}
.song .avatar{
  background-image: url(asset/album1.webp);
  width: 187px; 
  height: 187px;
  border-radius: 14px;
  background-size: cover;
}


/* day la phan chinh range .....*/

input[type="range"] {
  margin-top: 20px;
  margin-left: 20px;
  -webkit-appearance: none; /* Bỏ kiểu mặc định của Webkit */
  width: 350px;
  height: 8px; /* Chiều cao của thanh trượt */
  border-radius: 5px; /* Bo góc của thanh trượt */
  background: #ddd; /* Màu nền của thanh */
  outline: none; /* Bỏ viền outline khi focus */
  opacity: 0.9;
  transition: opacity 0.3s;
}
[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Bỏ kiểu mặc định của Webkit */
  appearance: none;
  width: 20px; /* Chiều dài của thumb */
  height: 9px; /* Chiều cao của thumb */
  border-radius: 5px;
  background: #ff4757; /* Màu của thumb */
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #1fbd51; /* Màu khi hover */
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  width: 30px;
  height: 12px;
  border-radius: 10px;
  background: #ff4757;
  cursor: pointer;
}

/* reponse */
@media screen and (max-width: 768px) {
  body {
    width: 90%; /* Cho body full màn hình */
    margin: auto; /* Bỏ khoảng cách thừa */
  }
 
  .instagram{
    display: none !important;
  }
  .tiktok{
    display: none !important;
  }
  .facebook{
    display: none !important;
  }
  .Theme{
    display: none !important;
  }
  .contact{
    display: none !important;
  }
  .scroll{
    display: none !important;
  }
  input[type="range"] {
    margin-top: 20px;
    margin-left: 20px;
    -webkit-appearance: none; /* Bỏ kiểu mặc định của Webkit */
    width: 90%;
    height: 8px; /* Chiều cao của thanh trượt */
    border-radius: 5px; /* Bo góc của thanh trượt */
    background: #ddd; /* Màu nền của thanh */
    outline: none; /* Bỏ viền outline khi focus */
    opacity: 0.9;
    transition: opacity 0.3s;
  }
}
